name: 'Terraform'

on:
  push:
    branches: [main]
      
  pull_request:
    branches: [main,develop]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Format Check
      run: terraform fmt -check -recursive

    - name: Set Azure credentials as environment variables
      run: |
        echo "Setting ARM_* env vars for Terraform..."
        echo "ARM_CLIENT_ID=$(jq -r .clientId <<< '${{ secrets.AZURE_CREDENTIALS }}')" >> $GITHUB_ENV
        echo "ARM_CLIENT_SECRET=$(jq -r .clientSecret <<< '${{ secrets.AZURE_CREDENTIALS }}')" >> $GITHUB_ENV
        echo "ARM_SUBSCRIPTION_ID=$(jq -r .subscriptionId <<< '${{ secrets.AZURE_CREDENTIALS }}')" >> $GITHUB_ENV
        echo "ARM_TENANT_ID=$(jq -r .tenantId <<< '${{ secrets.AZURE_CREDENTIALS }}')" >> $GITHUB_ENV

    - name: Terraform Init
      working-directory: ./infrastructure
      run: terraform init

    - name: Terraform Validate
      working-directory: ./infrastructure
      run: terraform validate

    - name: Terraform Plan
      working-directory: ./infrastructure
      run: terraform plan -var-file="environments/dev.tfvars"

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      working-directory: ./infrastructure
      run: terraform apply -var-file="environments/dev.tfvars" -auto-approve
